/* Intro */
.intro {
  color: rgb(255, 255, 255);
  background-color: #2f8e9f;

  /* Border Colors */
  border-style:solid;
  border-color: black;
  border-width: 2px 2px 2px 2px;
  border-radius: 6px;

  /* Text Centered */
  text-align: center;
  padding-top: 35px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;

  height: 100px;
  width: 890px;
}

/* Background Color */
* {
  background-color: grey;
  /* Font */
  font-family: 'Courier New', Courier, monospace;
  color: palegoldenrod;
}

/* Body */
main * {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Navigation Bar */
.navbar {
  background-color: #f15;

  /* Border Colors */
  border-style:solid;
  border-color: black;
  border-width: 2px 2px 2px 2px;
  border-radius: 6px;

  /* Text and Background Color Area*/
  padding: 1cm 4cm 1cm 5cm;

  height: 10px;
  width: 550px;
}

/* Quote */
.quote {
  margin-top: 25pt;
  margin-bottom: 25pt;
  margin-left: 200pt;
  margin-right: 280pt;
}

/* San Francisco Image */
.sf {
  margin-left: 2.5in;
}

.sf-text {
  position: absolute;
  top: 500px;
  right: 300px;
  font-size: 50px;
  color:rgb(0, 255, 85)
}

/* University */
p.uni {
  color: red;
  display: inline-block;
  max-width: 50%;
}

p.code {
  min-width: 75%;
}

/* About paragraph */
p.about {
  max-width: 25%;
}

/* Media Query */
@media only screen and (max-width: 925px) {
  .intro {
    background-color: yellow;
  }

  .navbar {
    background-color: rgba(0, 8, 255, 0.33);
  }
}

/* Return to the top */
#goTop {
  font-size: 13px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
}

/* Header Font Color */
h1, h2, h3 {
  color: rgb(0, 255, 0, 0.8);
  text-decoration: underline;
  text-align: center;
}

/* Links */
a:visited {
  color: hsl(139, 99%, 49%);
}

a:link {
  color: hsla(246, 100%, 44%, 1);
}

a:hover {
  color: rgba(255, 144, 162, 0.618);
}

a:active {
  color: rgba(114, 0, 130, 0.618);
}

a[href*="https://"] {
  font-size: xx-large;
}

/* List shapes */
li {
  list-style-type: disc;
}

li li {
  list-style-type: square;
}

li li li {
  list-style-type: circle;
}

/* Text colors for paragraphs*/
p {
  text-align: auto;
}

/* Image Pictures */
.re-img {
  margin: auto;
}

.binNin {
  position: static;
}

a + img {
  width: 350px
}

/* Rating */
.rate {
  display: block;
}

/* Thoughts */
.thoughts {
  display: block;
}

/* Lists */
li > * {
  background-color:green;
  font-size: 10px;
}

summary ~ ul {
  background: yellow;
}

li + li {
  background-color: brown;
  font-size:25px;
}

/* Table */
table > *{
  background-color: blue;
}

tr > td {
  background-color: black;
  text-align: center;
}

th + th {
  background-color: green;
}

/* Contacts */
.contacts-header {
  font-size: 5em;
  text-align: left;
  margin: 0px 0px 0px 30px
}

.email {
  font-size: 5ex;
}

.main-email {
  font-size: 50%;
}

.phone {
  font-size: 3rem;
}

.warn {
  color: red;
  font-size: 25px;
}