/* Intro */
.intro {
  color: rgb(255, 255, 255);
  background-color: #2f8e9f;

  /* Border Colors */
  border-style:solid;
  border-color: black;
  border-width: 2px 2px 2px 2px;
  border-radius: 6px;

  /* Text Centered */
  text-align: center;
}

/* Quote */
.quote {
  margin-top: 25pt;
  margin-bottom: 25pt;
  margin-left: 200pt;
  margin-right: 280pt;
}

/* San Francisco Image */
.sf {
  margin-left: 2.5in;
}

/* Navigation Bar */
.navbar {
    /* Border Colors */
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 5cm;
    margin-right: 4cm;
}

/* Body */
body {
  /* Background */
  background-color: grey;

  /* Font */
  font-family: 'Courier New', Courier, monospace
}

/* Header Font Color */
h1, h2 {
  color: rgb(0, 255, 0, 0.8);
  text-decoration: underline;
}

/* Links */
a:visited {
  color: hsl(139, 99%, 49%);
}

a:link {
  color: hsla(246, 100%, 44%, 1);
}

a:hover {
  color: rgba(255, 144, 162, 0.618);
}

/* Text colors for paragraphs*/
p {
  color: palegoldenrod;
  text-align: center;
}

/* Image Pictures */
